/* ОБНУЛЕННЯ СТИЛІВ */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
}
li {
    list-style: none;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
img {
    vertical-align: top;
}
/* --------------- */

/* Анатомія */
/*
селектор{
	css параметр;
	css параметр;
	...
	css параметр;
}
*/
/* CSS параметр */
/*
css властивість: значення(я) властивості;
*/

/* Селектори */

/* Селектор тега */
/*
ім'я тега{
	css параметр;
	css параметр;
	...
	css параметр;
}
*/
/* Приклад селектора тега */
p {
    /* Звернулися до ВСІХ тегів P на сторінці */
    color: red;
}
span {
    /* Звернулися до ВСІХ тегів SPAN на сторінці */
    /* color: green; */
}

/* Селектор класу, починається з КРАПКИ */
/*
.ім'я класу {
	css параметр;
	css параметр;
	...
	css параметр;
}
*/
.text {
    /* Звернулися до об'єктів із класом text на сторінці */
    /* color: green; */
}
.paragraph {
    /* Звернулися до об'єктів з класом paragraph на сторінці */
    /* color: red; */
}

/* Селектор ID */
/*
#ім'я id{
	css параметр;
	css параметр;
	...
	css параметр;
}
*/
#menu {
    /* color: red; */
}

/* Пріоритет */

/* 1. Порядок запису, при рівнозначних селекторах */

p {
    /* Звернулися до ВСІХ тегів P на сторінці */
    /* color: red; */
}

/* Цей пріоритетніший */
p {
    /* Звернулися до ВСІХ тегів P на сторінці */
    /* color: yellowgreen; */
}

.text {
    /* Звернулися до об'єктів з класом text на сторінці */
    /* color: green; */
}
/* Цей пріоритетніший */
.paragraph {
    /* Звернулися до об'єктів з класом paragraph на сторінці */
    /* color: red; */
}

/* УТОЧНЕННЯ */

/* 2. Селектор класу пріоритетніший за селектор тега */

.text {
    /* Звернулися до об'єктів із класом text на сторінці */
    /* color: green; */
}
p {
    /* Звернулися до ВСІХ тегів P на сторінці */
    /* color: red; */
}

/* Селектор ID - найпріоритетніший */

#main-text {
    /* Звернулися до об'єкта c ID main-text на сторінці */
    /* color: blue; */
}
.text {
    /* Звернулися до об'єктів з класом text на сторінці */
    /* color: green; */
}
p {
    /* Звернулися до ВСІХ тегів P на сторінці */
    /* color: red; */
}

/* 3. Уточнюємо зверненням */

/* Комбінація селекторів */

span.text.blue-text {
    /* Звернулися до тегів SPAN з класами і text, і blue-text на сторінці */
    /* color: red; */
}
.text {
    /* Звернулися до об'єктів з класом text на сторінці */
    /* color: green; */
}

span.blue-text {
    /* Звернулися до тегів SPAN із класом blue-text на сторінці */
    /* color: blue; */
}

/* Вкладеність і пріоритетність */

/* Пріоритетність №1 */

div p {
    /* color: blue; */
}

.content .content__item {
    /* Звернулися до об'єктів із класом .content__item але тільки до тих
	які знаходяться всередині будь-яких об'єктів із класом .content на сторінці 
	*/
    /* color: yellowgreen; */
}

.content__item {
    /* Звернулися до об'єктів із класом .content__item */
    /* color: violet; */
}

/* Інлайновий стиль матиме найбільший пріоритет */

/* Інші селектори */

/* * * - Звернення до ВСІХ об'єктів */
/*
* {
	color: green;
}
*/

/* Звертаємося до кількох об'єктів */

.content p,
.content span {
    /* Звернулися до всіх тегів P але тільки до тих
	які знаходяться всередині будь-яких об'єктів з класом .content на сторінці.
	І до всіх тегів SPAN але тільки до тих 
	які знаходяться всередині будь-яких об'єктів з класом .content на сторінці.*/
    /* color: red; */
}

.content .content__item,
.content .content__text {
    /* Звернулися до всіх об'єктів із класом content__item але тільки до тих
	які знаходяться всередині будь-яких об'єктів з класом .content на сторінці.
	І до всіх об'єктів із класом content__text але тільки до тих 
	які знаходяться всередині будь-яких об'єктів з класом .content на сторінці.*/
    /* color: red; */
}

.content__item,
.content__text,
footer {
    /* color: yellowgreen; */
}

/* Тільки перший рівень вкладеності */

.content span {
    /* Звернулися до всіх тегів SPAN але тільки до тих
	які знаходяться всередині будь-яких об'єктів з класом .content на сторінці. */
    /* color: red; */
}
.content > span {
    /* Звернулися до всіх тегів SPAN ПЕРШОГО РІВНЯ але тільки до тих
	які знаходяться всередині будь-яких об'єктів з класом .content на сторінці. */
    /* color: red; */
}

/* Звертаємося тільки до першого наступного об'єкта того ж рівня */

.content__item + * * {
    /* color: yellowgreen; */
}

/* Звертаємося до всіх наступних об'єктів того ж рівня */

.content__item ~ span {
    /* color: yellowgreen; */
}

.content {
}
.content__item {
}
.content__text {
}
